/* Purple Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-background-color: #fcfcfc;
  --pico-color: #4e4b4e;
  --pico-primary: #9001ad;
  --pico-primary-background: #9001ad;
  --pico-primary-border: var(--pico-primary-background);
  --pico-primary-hover: #7c0187;
  --pico-primary-hover-background: #7c0187;
  --pico-primary-hover-border: var(--pico-primary-hover-background);
  --pico-primary-focus: rgba(216, 27, 96, 0.125);
  --pico-primary-inverse: #FFF;
  --pico-primary-underline: rgba(144, 1, 173, 0.5);
}

body > main {
    --pico-block-spacing-vertical: calc(var(--pico-spacing));
}

nav.toc  ol  ol{
    display: none;
}

article header {
    min-height: 100px;
    background-image: url('/assets/imgs/banner_caro_horizontal_2.jpg');
}

article.comissio header {
    background-image: url('/assets/imgs/banner_caro_horizontal_4.jpg');
    min-height: 70px;
}
article.comissio header h2 {
    color: var(--pico-color);
    font-size: 24px;
    margin-bottom: 0;
}

.width-small {
    display: block;
}
.width-wide {
    display: none;
}

nav details.dropdown > summary::after {
    display: none;
}

/* Right-align the dropdown panel under "Seccions" */
nav details.dropdown > summary + ul {
    right: 0;
    left: auto;
    width: auto;
    text-align: right;
}

/* Style the dropdown items */
nav details.dropdown > summary + ul li a {
    text-decoration: none;
}

body header nav img {
    max-width: 100%;
}

.container main p.data {
    font-style: italic;
    font-size: smaller;
}

[data-tooltip]:not(a, button, input){
    border-bottom: none;
    cursor: inherit;
}


.toc li {
    margin: 5px;
    padding: 3px 7px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid blue;
    border-color: var(--pico-secondary);
    border-radius: 5px;
}
.toc li a {
    color: var(--pico-secondary);
}

/* Media queries */

@media (min-width: 1024px) {
    .width-small {
        display: none;
    }
    .width-wide {
        display: block;
    }

    body header nav img {
        max-width: 400px;
    }


    article header {
        min-height: 200px;
        background-image: url('/assets/imgs/banner_caro_horizontal.jpg');
    }

    article.comissio header {
        min-height: .5em;
        background-image: url('/assets/imgs/banner_caro_horizontal_3.jpg')
    }
    .toc li {
        background-color: rgba(255, 255, 255, 0.6);
    }
}

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
}
