<!doctype html>
<html lang="ca" data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description | safe | trim }}">
    <meta name="version" content="{{versio}}">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">


    <title>{{ titol or siteData.name }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="/assets/css/afa.css">
  </head>
  <body>
    <main class="container">
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">
              <img alt="Logo de l'AFA" src="/assets/imgs/logo_afa_color_500_fons_transparent.png"/>
            </a>
          </li>
        </ul>
        <ul>
          {% for seccio in seccions %}
          <li class="width-wide"><a href="{{seccio.url}}">{{ seccio.titol }}</a></li>
          {% endfor %}
          <li class="width-small">
              <details role="list" dir="rtl">
                  <summary aria-haspopup="listbox">
                      Seccions
                  </summary>
                  <ul role="listbox">
                      {% for seccio in seccions %}
                      <li role="option"><a href="{{seccio.url}}">{{ seccio.titol }}</a></li>
                      {% endfor %}
                  </ul>
              </details>
          </li>
      </ul>
      </nav>
    </header>
    <article>
      <header>
        <h1>
          {{titol}}
        </h1>
        {% if content | toc %}
            {{ content | toc | safe }}
        {% endif %}
      </header>
      <main>
        <p>Actualitzat a <span data-tooltip="Versió {{ versio }}"  data-placement="bottom">
        {{ actualitzat | comAData }}
        </span></p>

        {{ content | safe }}
      </main>
    </article>
    <footer class="container">
      <small>
        <nav>
          <ul>
            <li>
              {{ siteData.name }}
            </li>
          </ul>
          <ul>
            <li>              
              <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.ca">{{ page.date | comAny }}&copy;</a>
            </li>
          </ul>
        </nav>
      </small>
    </footer>
    </main>
  </body>
</html>