<!doctype html>
<html lang="ca" data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description | safe | trim }}">
    <meta name="version" content="{{versio}}">
    <title>{{ titol or siteData.name }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="/assets/afa.css">
  </head>
  <body>
    <main class="container">
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">
              <img alt="Logo de l'AFA" src="/assets/imgs/logo_afa_color_500.png"/>
            </a>
          </li>
        </ul>
        <ul>
          <li class="width-wide"><a href="/">Inici</a></li>
          <li class="width-wide"><a href="/que-fem/">Què fem</a></li>
          <li class="width-wide"><a href="/qui-som/">Qui som</a></li>
          <li class="width-wide"><a href="/que-es-l-afa/">Qué es l'AFA</a></li>
          <li class="width-small">
              <details role="list" dir="rtl">
                  <summary aria-haspopup="listbox">
                      Seccions
                  </summary>
                  <ul role="listbox">
                      <li role="option"><a href="/">Inici</a></li>
                      <li role="option"><a href="/que-fem/">Què fem</a></li>
                      <li role="option"><a href="/qui-som/">Qui som</a></li>
                      <li role="option"><a href="/que-es-l-afa/">Qué es l'AFA</a></li>
                  </ul>
              </details>
          </li>
      </ul>
      </nav>
    </header>
    <article>
      <header>
        <h1>
          {{titol}}
        </h1>
      </header>
      <main>
        <p>Actualitzat a {{ actualitzat | comAData }}</p>

        {{ content | safe }}
      </main>
    </article>
    </main>
  </body>
</html>