<!doctype html>
<html lang="ca" data-theme="light">
  <head>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <title>{{ title or siteData.name }}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <link rel="stylesheet" href="/assets/css/afa.css">

    <link rel="alternate" type="application/atom+xml" href="/feed.xml" />
    <script data-goatcounter="https://afasantateresa.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

    <!-- metadata -->
    <meta name="version" content="{{versio}}">
    {%if image %}
    <meta property="og:image" content="{{ image }}" />
    {% else %}
    <meta property="og:image" content="{{ siteData.metadata.banner }}" />
    {%endif %}
    {% metagen
        title             = title,
        desc              = description,
        version           = version,
        url               = siteData.metadata.base + page.url,
        type              = type,
        site_name         = siteData.metadata.name,
        og_image_width    = image.width,
        og_image_height   = image.height,
        og_image_alt      = image.alt,
        og_image_type     = image.type,
        twitter_card_type = "summary_large_image",
        name              = author.name,
        generator         = 'eleventy',
        preconnect        = [siteData.metadata.base],
        dns_prefetch      = [siteData.metadata.base],
        css               = ['/assets/css/afa.css']
    %}
  </head>
  <body>
    <main class="container">
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">
              <img alt="Logo de l'AFA" src="/assets/imgs/logo_afa_color_500_fons_transparent.png"/>
            </a>
          </li>
        </ul>
        <ul>
          {% for seccio in seccions %}
          <li class="width-wide"><a href="{{seccio.url}}">{{ seccio.titol }}</a></li>
          {% endfor %}
          <li class="width-small">
              <details class="dropdown">
                  <summary>
                      Seccions
                  </summary>
                  <ul>
                      {% for seccio in seccions %}
                      <li><a href="{{seccio.url}}">{{ seccio.titol }}</a></li>
                      {% endfor %}
                  </ul>
              </details>
          </li>
      </ul>
      </nav>
    </header>
    <article>
      <header>
        <h1>
          {{title}}
        </h1>
        {% if content | toc %}
            {{ content | toc | safe }}
        {% endif %}
      </header>
      <main>
        {% if actualitzat or date %}
        <p class="data">
        {% if actualitzat %}
        Actualitzat a <span data-tooltip="Versió {{ versio }}"  data-placement="bottom">
        <time datetime="{{actualitzat | comADataISO}}">{{ actualitzat | comAData }}</time>
        </span>
        {% endif %}
        {% if date %}
        <span data-tooltip="Versió {{ versio }}"  data-placement="bottom">
          <time datetime="{{date | comADataISO}}">{{ date | comAData }}</time>
        </span>
        {% endif %}
        </p>
        {% endif %}

        {{ content | safe }}
      </main>
    </article>
    <footer class="container">
      <small>
        <nav>
          <ul>
            <li>
              {{ siteData.name }} | Il·lustració Virginia Lorente per a <a href="https://www.atypicalvalencia.com/">atypicalvalencia.com</a>
            </li>
          </ul>
          <ul>
            <li>              
              <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.ca">{{ page.date | comAny }}&copy;</a> 
            </li>
          </ul>
        </nav>
      </small>
    </footer>
    </main>
  </body>
</html>
