---
layout: layouts/default.njk
permalink: /noticies/
titol: Notícies
description: >
  Notícies i comunicacions de l'AFA
---

{% for year, yearPosts in collections.postsPerCurs %}
  <h2>Curs: {{ year }}</h2>
  <ul>
    {% for post in collections.post | reverse  %}
    <li><a href="{{ post.url }}">{{ post.data.titol }}</a> - {{ post.date | comAMesIDia}}</li>
    {% endfor %}
  </ul>
{% endfor %}

<p>
<a href="/feed.xml">
<svg xmlns="http://www.w3.org/2000/svg" alt="Feed per seguir les notícies" fill="none" stroke="currentColor" width="24" height="24" viewBox="0 0 24 24" class="humbleicons hi-rss"><path xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M13 19a8 8 0 00-8-8M19 19c0-7.732-6.268-14-14-14"/><circle xmlns="http://www.w3.org/2000/svg" cx="6" cy="18" r="2" fill="currentColor"/></svg>
</a>
</p>
