---
layout: layouts/default.njk
permalink: /que-fem/
titol: Què fem
description: >
  Llistat de grups de treball i dades de contacte
actualitzat: 2024-01-29
versio: 2
---

Aquestes són les comissions a través de les quals l'AFA coordina les diferents activitats de l'escola.


{% for comissio in comissions %}
<article class="comissio" id="{{ comissio.id  }}">
<header>
<h2>{{comissio.icona}} {{ comissio.nom }}</h2>
</header>
<p>
{{ comissio.descripcio | safe }}
</p>
<footer>

<p class="email"> 📬 
  {% for email in comissio.email %}
  <a href="mailto:{{ email }}">{{ email }}</a>{{ "" if loop.last else ", " }}
  {% endfor %}
</p>  

</footer>
</article>
{% endfor %}
